@page
@model ImprintModel
@{
    ViewData["Title"] = "Imprint";
}

<p>
    Frederik Reiter<br>
    Stuttgarter Str. 106<br>
    c/o Block Services<br>
    70736 Fellbach
</p>
<p>
    Phone: +49 15679 206983<br>
    Email: <span class="email">@@</span>
</p>