@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<h2>What we collect</h2>
<p>
This site uses no cookies or other means of data storage in the visitors browser.
We collect no personal data about our users. The only data collected by this site is timestamped HTTP requests, not associated with the visitors IP address.
</p>

<h2>Information Collected by Cloudflare</h2>
<p>
We use Cloudflare to protect and speed up our website. Cloudflare may collect some data as part of their service. Please refer to their privacy policy here:
    <a href="https://www.cloudflare.com/privacypolicy/">https://www.cloudflare.com/privacypolicy/</a>
</p>

<h2>Changes to this Privacy Policy</h2>
<p>
We may update this Privacy Policy from time to time. Any changes will be posted here.

2025-03-19: Initial version.
</p>
